.contact-head {
    text-align: center;
}

.contact-location {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-desc {
    list-style-type: none;
    width: 400px;
}

.contact-desc li{
    color: #fa4f00;
    margin-left: 0 !important;
    margin-bottom: 7px;
}

.contact-area {
    width: 900px;
    display: flex;
    justify-content: center;
}

.add-contact {
    font-size: 14px;
    color: #000;
}

.desc2{
    margin-left: 70px;
    width: 300px;
}

.map-area{
    position: relative;
}

.map-overlay2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: not-allowed;
}